/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* common styles or utilitles */
main{
    display: flex;
    justify-content: center ;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* Top players style  */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}
.player {
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
}