/* Top players style  */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    align-items: center;
}
.player {
    display: flex;
}
.player img {
    width: 56px;
    height: 56px;
}